In [1]:
import pandas as pd
import config
access_token = config.LOCATIONIQ_ACCESS_TOKEN

In [2]:
nodes = pd.read_csv('IGGIELGN/IGGIELGN_Nodes.csv', delimiter=';')
nodes.head()

,id,name,source_id,node_id,lat,long,country_code,comment,param,uncertainty,method,tags
0,INET_N_855,NaN,['INET_N_855'],['INET_N_855'],53.017810,23.896413,PL,NaN,"{'nuts_id_1': 'PL8', 'nuts_id_2': 'PL84', 'nut...","{'nuts_id_1': 0, 'nuts_id_2': 0, 'nuts_id_3': 0}","{'nuts_id_1': 'M_Consumers.add_Nuts_Num()', 'n...",{}
1,INET_N_1828,INET_N_1828,['PL_242'],['INET_N_1828'],52.984994,22.241386,PL,NaN,"{'nuts_id_1': 'PL8', 'nuts_id_2': 'PL84', 'nut...","{'nuts_id_1': 0, 'nuts_id_2': 0, 'nuts_id_3': 0}","{'nuts_id_1': 'M_Consumers.add_Nuts_Num()', 'n...",{}
2,INET_N_329,INET_N_329,['PL_48'],['INET_N_329'],52.881484,20.619795,PL,NaN,"{'nuts_id_1': 'PL9', 'nuts_id_2': 'PL92', 'nut...","{'nuts_id_1': 0, 'nuts_id_2': 0, 'nuts_id_3': 0}","{'nuts_id_1': 'M_Consumers.add_Nuts_Num()', 'n...",{}
3,INET_N_1612,INET_N_1612,['IT_794'],['INET_N_1612'],46.505528,13.592806,IT,NaN,"{'nuts_id_1': 'ITH', 'nuts_id_2': 'ITH4', 'nut...","{'nuts_id_1': 0, 'nuts_id_2': 0, 'nuts_id_3': 0}","{'nuts_id_1': 'M_Consumers.add_Nuts_Num()', 'n...",{}
4,INET_N_1009,INET_N_1009,['IT_125'],['INET_N_1009'],46.503733,13.416054,IT,NaN,"{'nuts_id_1': 'ITH', 'nuts_id_2': 'ITH4', 'nut...","{'nuts_id_1': 0, 'nuts_id_2': 0, 'nuts_id_3': 0}","{'nuts_id_1': 'M_Consumers.add_Nuts_Num()', 'n...",{}

In [3]:
# output a valut count for the country_code column
nodes['country_code'].value_counts()

country_code
DE    631
FR    622
XX    513
IT    373
RU    372
ES    210
PL    198
UA    197
TR    180
GB    178
RO    162
NL    102
HU     99
BY     87
BG     75
BE     70
IE     52
AT     51
RS     42
CZ     41
FI     40
HR     36
LT     35
GE     35
GR     33
PT     29
CH     28
EE     24
SI     23
DK     21
LV     20
MD     19
SK     18
SE     18
AZ      9
AM      9
NO      7
LU      5
MK      4
AL      2
BA      2
EL      2
MT      1
Name: count, dtype: int64

In [4]:
import requests

url = "https://us1.locationiq.com/v1/reverse"

headers = {"accept": "application/json"}

params = {
    "key": access_token,
    "lat": 51.5074,
    "lon": 0.1278,
    "format": "json"
}

# Write a function that takes a lat long and returns the country code
def get_country_code(lat, lon):
    params = {
        "key": access_token,
        "lat": lat,
        "lon": lon,
        "format": "json"
    }
    response = requests.get(url, headers=headers, params=params)
    data = response.json()
    # Capitalize the country code
    country_code = data['address']['country_code'].upper()

In [5]:
# For the rows where country_code == "XX", use the lat and long columns to fill in the missing country code
for node in nodes[nodes['country_code'] == 'XX'].iterrows():
    lat = node[1]['lat']
    long = node[1]['long']
    try:
        country_code = get_country_code(lat, long)
        print(f"Success. Setting country code for {lat}, {long} to {country_code}")
    except:
        print(f"Error getting country code for {lat}, {long}"
              f"Setting country code to 'XX'")
        country_code = 'XX'
    nodes.loc[node[0], 'country_code'] = country_code

Error getting country code for 53.3287, 2.55424Setting country code to 'XX'
Error getting country code for 53.55224000000001, 2.287545Setting country code to 'XX'
Error getting country code for 53.27811, 3.15343Setting country code to 'XX'
Error getting country code for 52.95898, 3.2237Setting country code to 'XX'
Error getting country code for 53.0176, 3.5805300000000004Setting country code to 'XX'
Error getting country code for 52.91369, 3.88785Setting country code to 'XX'
Error getting country code for 52.66606, 2.20086Setting country code to 'XX'
Error getting country code for 43.87352, -2.58376Setting country code to 'XX'
Error getting country code for 38.567395, 49.97972Setting country code to 'XX'
Error getting country code for 35.90259000000001, 51.35243Setting country code to 'XX'
Error getting country code for 31.10352, 32.39602Setting country code to 'XX'
Error getting country code for 30.708140000000004, 32.77424Setting country code to 'XX'
Error getting country code for 30.83687, 31.69638Setting country code to 'XX'
Error getting country code for 34.47072, -0.6307Setting country code to 'XX'
Error getting country code for 34.745740000000005, -0.46696Setting country code to 'XX'
Error getting country code for 34.98733, -0.54227Setting country code to 'XX'
Error getting country code for 35.022805, 0.0272Setting country code to 'XX'
Error getting country code for 34.99451, 0.4549149999999999Setting country code to 'XX'
Error getting country code for 42.101275, 48.90999Setting country code to 'XX'
Error getting country code for 42.40056, 48.72591Setting country code to 'XX'
Error getting country code for 33.01876, 43.04841Setting country code to 'XX'
Error getting country code for 30.70501, 45.51461Setting country code to 'XX'
Error getting country code for 34.2585, 43.88636Setting country code to 'XX'
Error getting country code for 35.8408, 44.0904Setting country code to 'XX'
Error getting country code for 30.71313, 28.20957000000001Setting country code to 'XX'
Error getting country code for 30.73726, 28.09112Setting country code to 'XX'
Error getting country code for 30.95847, 27.41731Setting country code to 'XX'
Error getting country code for 31.57288, 26.72218Setting country code to 'XX'
Error getting country code for 31.69398, 26.66462000000001Setting country code to 'XX'
Error getting country code for 32.084109999999995, 31.33571Setting country code to 'XX'
Error getting country code for 32.001020000000004, 31.36169000000001Setting country code to 'XX'
Error getting country code for 31.73413, 31.39423Setting country code to 'XX'
Error getting country code for 31.53088, 31.08652Setting country code to 'XX'
Error getting country code for 30.88384000000001, 31.39762Setting country code to 'XX'
Error getting country code for 31.65252000000001, 32.39165Setting country code to 'XX'
Error getting country code for 31.90594, 32.22786Setting country code to 'XX'
Error getting country code for 36.15821, 10.28691Setting country code to 'XX'
Error getting country code for 35.74039000000001, 10.63165Setting country code to 'XX'
Error getting country code for 34.77377, 10.91552Setting country code to 'XX'
Error getting country code for 33.43233, 10.21475Setting country code to 'XX'
Error getting country code for 31.3542, 10.02743Setting country code to 'XX'
Error getting country code for 30.88116, 10.19774Setting country code to 'XX'
Error getting country code for 36.93421, 10.96333Setting country code to 'XX'
Error getting country code for 36.3763, 10.53516Setting country code to 'XX'
Error getting country code for 34.12166, 43.88743Setting country code to 'XX'
Error getting country code for 36.02435999999999, 43.37699Setting country code to 'XX'
Error getting country code for 31.64378, 29.9107Setting country code to 'XX'
Error getting country code for 31.69227, 29.76049Setting country code to 'XX'
Error getting country code for 31.56215, 29.85844Setting country code to 'XX'
Error getting country code for 35.53677000000001, 1.225585Setting country code to 'XX'
Error getting country code for 35.72920999999999, 2.26178Setting country code to 'XX'
Error getting country code for 35.97718, 2.71572Setting country code to 'XX'
Error getting country code for 36.138795, 2.904715Setting country code to 'XX'
Error getting country code for 36.18137, 3.1123Setting country code to 'XX'
Error getting country code for 36.20001, 3.4377949999999995Setting country code to 'XX'
Error getting country code for 36.00568, 3.637635Setting country code to 'XX'
Error getting country code for 35.67998499999999, 3.626835Setting country code to 'XX'
Error getting country code for 35.05216, 3.636145Setting country code to 'XX'
Error getting country code for 34.74448, 3.58201Setting country code to 'XX'
Success. Setting country code for 34.01413, 3.43888 to None
Success. Setting country code for 33.69713, 3.42009 to None
Success. Setting country code for 33.27447, 3.45105 to None
Success. Setting country code for 32.54586, 3.38776 to None
Success. Setting country code for 30.73024, 3.44897 to None
Success. Setting country code for 32.35589, 3.6323 to None
Success. Setting country code for 32.52965, 3.2482900000000003 to None
Success. Setting country code for 32.325804999999995, 1.46242 to None
Success. Setting country code for 32.716555, -0.199725 to None
Success. Setting country code for 36.62654000000001, 9.99513 to None
Success. Setting country code for 36.4111, 10.13196 to None
Success. Setting country code for 36.52983, 6.72727 to None
Success. Setting country code for 36.41702, 6.728160000000001 to None
Success. Setting country code for 36.229035, 6.559195 to None
Success. Setting country code for 35.905595, 6.41295 to None
Success. Setting country code for 35.829125, 6.321395 to None
Success. Setting country code for 35.416255, 5.8943650000000005 to None
Success. Setting country code for 35.272795, 5.70328 to None
Success. Setting country code for 35.00192, 5.45629 to None
Success. Setting country code for 34.5875, 5.22463 to None
Success. Setting country code for 34.299040000000005, 5.01829 to None
Success. Setting country code for 33.49017, 4.47998 to None
Error getting country code for 38.51253, 51.9354Setting country code to 'XX'
Success. Setting country code for 38.63519, 47.04863 to None
Success. Setting country code for 38.8064, 46.77082 to None
Success. Setting country code for 32.90511, 35.689335 to None
Success. Setting country code for 32.33348, 36.76531 to None
Success. Setting country code for 34.87767, 36.14455 to None
Success. Setting country code for 34.638459999999995, 35.84324 to None
Success. Setting country code for 32.87013, 3.16475 to None

In [ ]:
# output a valut count for the country_code column
nodes['country_code'].value_counts()