In [8]:
# Load the following file to a dataframe: /Users/johanmasvie/programming/tiø4900/master_thesis/Data/Gas_Trade_Flows_IEA_202310 - Data.csv

import pandas as pd

# Load data
df = pd.read_csv('/Users/johanmasvie/programming/tiø4900/master_thesis/Data/Gas_Trade_Flows_IEA_202310 - Data.csv')

df.head()

,Borderpoint,Exit,Unnamed: 2,Entry,MAXFLOW (Mm3/h),Oct-08,Nov-08,Dec-08,Jan-09,Feb-09,...,Jan-23,Feb-23,Mar-23,Apr-23,May-23,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23
0,Adriatic LNG,Liquefied Natural Gas,-->,Italy,1.10,0,0,0,0,0,...,687.0,654.0,850.0,714.0,809.0,620.0,823.0,693.0,754.0,745.0
1,Almeria,Algeria,-->,Spain,1.07,0,0,0,0,0,...,760.0,659.0,569.0,619.0,698.0,448.0,767.0,696.0,709.0,863.0
2,Alveringem,Belgium,-->,France,NaN,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alveringem,France,-->,Belgium,0.37,0,0,0,0,0,...,644.0,616.0,185.0,240.0,392.0,396.0,195.0,50.0,394.0,371.0
4,Badajoz,Portugal,-->,Spain,0.30,0,0,0,0,12,...,54.0,0.0,4.0,91.0,139.0,84.0,44.0,25.0,19.0,27.0

In [10]:
# Drop the unnamed column
df = df.drop(columns=['Unnamed: 2'])
df.head()

,Borderpoint,Exit,Entry,MAXFLOW (Mm3/h),Oct-08,Nov-08,Dec-08,Jan-09,Feb-09,Mar-09,...,Jan-23,Feb-23,Mar-23,Apr-23,May-23,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23
0,Adriatic LNG,Liquefied Natural Gas,Italy,1.10,0,0,0,0,0,0,...,687.0,654.0,850.0,714.0,809.0,620.0,823.0,693.0,754.0,745.0
1,Almeria,Algeria,Spain,1.07,0,0,0,0,0,0,...,760.0,659.0,569.0,619.0,698.0,448.0,767.0,696.0,709.0,863.0
2,Alveringem,Belgium,France,NaN,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alveringem,France,Belgium,0.37,0,0,0,0,0,0,...,644.0,616.0,185.0,240.0,392.0,396.0,195.0,50.0,394.0,371.0
4,Badajoz,Portugal,Spain,0.30,0,0,0,0,12,2,...,54.0,0.0,4.0,91.0,139.0,84.0,44.0,25.0,19.0,27.0